$black-normal: #464646;
$black-dark: #080808;
$black-light: #6B6B6B;

$white-normal: #F4F4F4;
$white-dark: #F0F0F0;
$white-light: #F6F6F6;

$purple-normal: #7D639E;
$purple-dark: #52307D;
$purple-light: #9783B1;

$gray-1:  #777;

.color-gray{
    color: $gray-1;
}